<div *ngIf="status!=null">
    <div class="d-flex justify-content-center my-3">
        <div class="alert alert-danger" role="alert">
            ERROR: {{status!.message}}
        </div>
    </div>
</div>

<div *ngIf="status==null">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Propiedad</th>
                <th>Valor</th>
            </tr>
            <tr>
                <td>id</td>
                <td>{{oCliente.id}}</td>
            </tr>
            <tr>
                <td>nombre</td>
                <td>{{oCliente.nombre}}</td>
            </tr>
            <tr>
                <td>direccion</td>
                <td>{{oCliente.direccion}}</td>
            </tr>
            <tr>
                <td>telefono</td>
                <td>{{oCliente.telefono}}</td>
            </tr>
            <tr>
                <td>username</td>
                <td>{{oCliente.username}}</td>
            </tr>
           
            <tr>
                <td>rol</td>
                <td>
                    <span *ngIf="oCliente.rol">Admin</span>
                    <span *ngIf="oCliente.rol==false">User</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>