<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      ERROR: {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="d-flex justify-content-end mb-3">
    <h6>Mostrando {{ oPage.numberOfElements }} de un total de {{ oPage.totalElements }} películas.</h6>
  </div>
  <div class="flex justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage.totalElements" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>

  <div class="mb-5">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('titulo')">Título</th>
          <th (click)="doOrder('director')">Director</th>
          <th (click)="doOrder('duracion')">Duración</th>
          <th (click)="doOrder('genero')">Género</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pelicula of oPage?.content" class="align-middle">
          <td class="text-end"><strong>{{ pelicula.id }}</strong></td>
          <td>{{ pelicula.titulo }}</td>
          <td>{{ pelicula.director }}</td>
          <td>{{ pelicula.duracion }}</td>
          <td>{{ pelicula.genero }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button class="btn btn-primary" (click)="onSelectPelicula(pelicula)"><i class="pi pi-plus-circle"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
