<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      ERROR: {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="d-flex justify-content-end mb-3">
    <h6>Showing {{ oPage.numberOfElements }} of total {{ oPage.totalElements }} threads.</h6>
  </div>
  <div class="flex justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage.totalElements" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>

  <div class="mb-5">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('title')">Title</th>
          <th (click)="doOrder('user')">User</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let thread of oPage?.content" class="align-middle">
          <td class="text-end"><strong>{{ thread.id }}</strong></td>
          <td>{{ thread.title }}</td>
          <td>{{ thread.user?.name }} {{ thread.user?.surname }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button class="btn btn-primary" (click)="onSelectThread(thread)"><i class="pi pi-plus-circle"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>